.home-wrapper {
    min-width: 1366px;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #f0f6ff;

    .home-header {
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            .title {
                margin: 0 12px 0 20px;
                font-size: 20px;
                font-family: DingTalk-JinBuTi;
                color: #303133;
            }

            .info {
                font-size: 12px;
                font-family: PingFangSC-Regular;
                color: #181725;
                opacity: 0.4;
            }
        }

        .right {
            .user-img {
                width: 32px;
                height: 32px;
                padding: 6px;
                margin-right: 24px;
                background: #ffffff;
                border-radius: 8px;
            }
        }
    }

    .home-body {
        height: calc(100vh - 56px);
        display: flex;

        .left {
            height: 100%;
            width: 280px;
            padding: 20px;
            overflow-y: auto;

            .title {
                margin-bottom: 20px;
                font-family: PingFangSC-Medium;
                font-size: 16px;
                color: #303133;
                font-weight: 500;
            }

            .search-icon {
                width: 16px;
                height: 16px;

                &:hover {
                    cursor: pointer;
                }
            }

            .rules-content {
                height: calc(100% - 100px);
                margin-top: 16px;
                overflow-y: auto;
                overflow-x: hidden;

                .content-item {
                    width: 240px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0 12px;
                    border-radius: 8px;

                    &:hover {
                        background-color: #ffffff;

                        .suffix-icon {
                            display: inline-block;
                        }
                    }

                    .label {
                        color: #3E4A54;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: left;
                    }

                    .pre-icon {
                        width: 20px;
                        height: 20px;
                        margin-right: 6px;
                    }

                    .suffix-icon {
                        display: none;
                        width: 16px;
                        height: 16px;
                        margin-left: auto;
                        opacity: 0.5;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                }
            }
        }

        .right {
            flex: 1;
            // 280 + 24
            max-width: calc(100% - 304px);

            .upload-content {
                height: 110px;
                overflow-y: auto;
                padding: 12px 24px 0px 24px;
                border-radius: 12px;
                background-color: #ffffff;

                .title {
                    margin-bottom: 18px;
                    font-family: PingFangSC-Medium;
                    font-size: 14px;
                    color: #2F3033;
                    font-weight: 500;
                }
            }

            .chat-content {
                // 56+100+16 = 182
                height: calc(100vh - 186px);
                margin-top: 16px;
                border-radius: 12px 12px 0 0;
                background-color: #ffffff;
            }
        }
    }
}