.file-upload-wrapper {
    display: flex;
    align-items: flex-start;

    .upload-btn {
        position: relative;
        top: 1px;
        color: #4D78F7;
        border-color: #4D78F7;
        border-radius: 4px;
        margin-bottom: 24px;
    }

    .file-content {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .file-info {
        height: 36px;
        width: max-content;
        padding: 0 16px;
        margin-left: 16px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        background: #F5F7FA;
        border-radius: 18px;
        max-width: 100%;

        .name {
            max-width: 800px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            font-family: PingFangSC-Semibold;
            font-size: 14px;
            color: #3E4A54;
            font-weight: 500;
        }

        .view-btn {
            margin: 0 10px;
            color: #4D78F7;

            &:hover {
                cursor: pointer;
            }
        }

        .close-btn {
            width: 16px;
            height: 16px;

            &:hover {
                cursor: pointer;
            }
        }

    }

    .progress {
        margin-left: 20px;
    }
}