.template-database-wrapper {
    padding: 16px 24px;
    background-color: #F5F7FA;
    border-radius: 8px;
    width: 100%;

    .title {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        color: #3E4A54;
        text-align: left;
    }

    .detail-title {
        margin: 24px 0 16px 0;
        font-weight: 600;
        font-size: 16px;
        color: #3E4A54;
    }

    .detail-content {
        .rule-name {
            margin-bottom: 12px;
            font-size: 16px;
            color: #3E4A54;
        }

        .video-block {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            .img-box {
                width: 22%;
                margin-right: 3%;

                .frame {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 6px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .video-name {
                    margin-bottom: 12px;
                    text-align: center;
                    font-size: 14px;
                    color: #3E4A54;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }


    }

    .zoom-img-mask {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(128, 128, 128, 0.5);

        .close-icon {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 32px;
            right: 32px;
        }

        .zoom-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }


}