// 全局样式
@import 'element-ui/lib/theme-chalk/index.css';
// 重置样式
@import "./reset.scss";

@font-face {
    font-family: "D-DIN";
    src: url("./font/D-DIN.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DIN-Condensed";
    src: url("./font/DIN-Condensed-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DingTalk";
    src: url("./font/DingTalkJinBuTi.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DingTalkSans";
    src: url("./font/DingTalkSans.ttf");
    font-weight: normal;
    font-style: normal;
}
